@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #000000;
  background: url(../assets/main-bg.webp) top center no-repeat;
  background-color: #ffffff;
  background-size: cover;
}
body.hidden {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: "Lato", sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  padding: 11px 16px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #f59c12;
  text-decoration: none;
  border: none;
  border-radius: 48px;
  background-color: #0d4a89;
  box-shadow: 0 0px 16px 0 rgba(245, 156, 18, 0.5);
  cursor: pointer;
}
@media (max-width: 768px) {
  .button {
    min-width: 145px;
    padding: 9px 12px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .button {
    padding: 7px 8px;
    font-size: 12px;
  }
}
.button:hover {
  box-shadow: 0 0px 24px 0 #f59c12;
}
.button:active {
  box-shadow: 0 0px 24px 0 rgba(245, 156, 18, 0.8);
}

.container {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .container {
    padding: 0;
  }
}

.custom-select {
  position: relative;
  margin: 0;
  width: -moz-min-content;
  width: min-content;
  border: none;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 4px 5px;
  padding-right: 8px;
  box-sizing: border-box;
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border-radius: 32px;
  background-color: #90afb2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .custom-select .select-selected {
    gap: 4px;
    padding: 2px;
    padding-right: 5px;
    font-size: 10px;
  }
}
.custom-select .select-selected > span {
  display: inline-block;
  padding: 4px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 32px;
  background-color: #ffffff;
}
.custom-select .select-selected::after {
  content: "";
  display: inline-block;
  height: 9px;
  width: 14px;
  background-image: url(../assets/icons/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all ease-in-out 0.1s;
}
@media (max-width: 576px) {
  .custom-select .select-selected::after {
    height: 8px;
    width: 12px;
  }
}
.custom-select .select-selected.active {
  color: #000000;
}
.custom-select .select-selected.active::after {
  transform: rotate(180deg);
}
.custom-select .select-hide {
  display: none !important;
}
.custom-select .select-items {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 5px;
  max-height: 288px;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow-y: auto;
  color: #000000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  border-radius: 12px;
  background-color: #90afb2;
}
@media (max-width: 576px) {
  .custom-select .select-items {
    padding: 4px;
    font-size: 10px;
    border-radius: 8px;
  }
}
.custom-select .select-items::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: #90afb2;
}
.custom-select .select-items::-webkit-scrollbar-thumb {
  background-color: #90afb2;
  border-radius: 4px;
}
.custom-select .select-items::-webkit-scrollbar-thumb:hover {
  background-color: #90afb2;
}
.custom-select .select-items .same-as-selected {
  font-weight: 600;
}
.custom-select .select-items div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  width: -moz-max-content;
  width: max-content;
  padding: 4px 15px;
  border-radius: 24px;
  background-color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .custom-select .select-items div {
    padding: 4px 11px;
  }
}
.custom-select .select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.header {
  display: flex;
  align-items: center;
  gap: 51px;
  max-width: 1920px;
  min-height: 100px;
  padding: 10px 28px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 20px 0 #f59c12;
  background: linear-gradient(180deg, #0d4a89 0%, rgba(144, 175, 178, 0.4) 100%);
}
@media (max-width: 1280px) {
  .header {
    gap: 42px;
  }
}
@media (max-width: 992px) {
  .header {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .header {
    gap: 25px;
  }
}
@media (max-width: 576px) {
  .header {
    min-height: 60px;
    padding: 10px;
  }
}
.header__logo {
  flex: 0 0 auto;
}
@media (max-width: 768px) {
  .header__logo {
    flex: 0 1 auto;
  }
}
@media (max-width: 576px) {
  .header__logo {
    order: 1;
  }
}
.header__logo-link {
  display: inline-block;
}
.header__logo-image {
  display: block;
  max-width: 100%;
}
@media (max-width: 576px) {
  .header__logo-image {
    width: 180px;
  }
}
.header__nav {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
@media screen and (max-width: 1320px) {
  .header__nav {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .header__nav {
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  flex: 0 0 auto;
  color: #f59c12;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px #0d4a89, -1px -1px #0d4a89, -1px 1px #0d4a89, 1px -1px #0d4a89;
}
@media screen and (max-width: 1200px) {
  .header__nav-link {
    font-size: 12px;
  }
}
.header__nav-close {
  display: none;
}
.header__lang {
  flex: 0 0 auto;
}
@media (max-width: 576px) {
  .header__lang {
    order: 0;
  }
}
.header__burger {
  display: none;
  height: 34px;
  width: 60px;
  background: url(../assets/icons/burger.svg) center no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__burger {
    display: inline-block;
  }
}
@media (max-width: 576px) {
  .header__burger {
    flex: 0 0 auto;
    order: 2;
    width: 40px;
    height: 26px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}
@media (max-width: 992px) {
  .main {
    gap: 10px;
    padding: 10px 0;
  }
}

.footer {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 -4px 20px 0 #f59c12;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 12px 65px;
  background: linear-gradient(0deg, #0d4a89 0%, rgba(144, 175, 178, 0.4) 70%);
}
@media (max-width: 1280px) {
  .footer__main {
    gap: 10px;
    padding: 12px 44px;
  }
}
@media (max-width: 992px) {
  .footer__main {
    padding: 12px 10px;
  }
}
@media (max-width: 768px) {
  .footer__main {
    padding: 5px 16px;
  }
}
@media (max-width: 576px) {
  .footer__main {
    padding: 7px 9px;
  }
}
.footer__logo {
  flex: 0 0 auto;
}
.footer__logo-link {
  display: inline-block;
}
.footer__logo-image {
  display: block;
  width: 118px;
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .footer__logo-image {
    width: 100px;
  }
}
@media (max-width: 576px) {
  .footer__logo-image {
    width: 56px;
  }
}
.footer__nav {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav-link {
  flex: 1 1 100px;
  font-weight: 400;
  font-size: 18px;
  color: #0d4a89;
  text-align: center;
}
@media (max-width: 992px) {
  .footer__nav-link {
    font-size: 14px;
  }
}
.footer__social {
  flex: 0 0 356px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 992px) {
  .footer__social {
    flex: 0 1 356px;
  }
}
@media (max-width: 576px) {
  .footer__social {
    gap: 10px;
  }
}
.footer__social-title {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #0d4a89;
}
.footer__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer__social-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #0d4a89;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__social-link_inst {
  background-image: url(../assets/icons/instagram.svg);
}
.footer__social-link_tiktok {
  background-image: url(../assets/icons/tiktok.svg);
}
.footer__disclaimer {
  padding: 20px;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  background: #d9d9d9;
}
@media (max-width: 1280px) {
  .footer__disclaimer {
    padding: 15px 20px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .footer__disclaimer {
    padding: 20px;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .footer__disclaimer {
    padding: 9px 20px;
    font-size: 10px;
  }
}

.info-slider__wrapper {
  border-radius: 20px;
  overflow: hidden;
}
.info-slider .swiper-button-prev, .info-slider .swiper-button-next {
  height: 60px;
  width: 60px;
  background: url(../assets/icons/prev-button.svg) left center no-repeat;
  background-size: contain;
  filter: blur(4px);
}
@media (max-width: 576px) {
  .info-slider .swiper-button-prev, .info-slider .swiper-button-next {
    display: none;
  }
}
.info-slider .swiper-button-prev:after, .info-slider .swiper-button-next:after {
  display: none;
}
.info-slider .swiper-button-next {
  transform: rotate(180deg);
}
.info-slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 800px;
  padding: 20px 100px;
  box-sizing: border-box;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .info-slider__slide {
    gap: 10px;
    min-height: 600px;
  }
}
@media (max-width: 768px) {
  .info-slider__slide {
    min-height: 400px;
  }
}
@media (max-width: 576px) {
  .info-slider__slide {
    padding: 20px;
    min-height: 300px;
  }
}
.info-slider__slide_cooperation {
  background-image: url(../assets/info-slider-bg-cooperation.webp);
}
.info-slider__slide_about {
  background-image: url(../assets/info-slider-bg-about.webp);
}
.info-slider__slide_vacancy {
  background-image: url(../assets/info-slider-bg-vacancy.webp);
}
.info-slider__slide-title {
  margin: 0;
  font-weight: 600;
  font-size: 34px;
  line-height: 124%;
  text-align: center;
  color: #f59c12;
  text-shadow: 1px 1px #0d4a89, -1px -1px #0d4a89, -1px 1px #0d4a89, 1px -1px #0d4a89;
}
@media (max-width: 1280px) {
  .info-slider__slide-title {
    font-size: 24px;
    line-height: 175%;
  }
}
@media (max-width: 768px) {
  .info-slider__slide-title {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .info-slider__slide-title {
    font-size: 16px;
  }
}
.info-slider__slide-description {
  min-height: 268px;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 175%;
  text-align: center;
  color: #f59c12;
  text-shadow: 1px 1px #0d4a89, -1px -1px #0d4a89, -1px 1px #0d4a89, 1px -1px #0d4a89;
}
@media (max-width: 1280px) {
  .info-slider__slide-description {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .info-slider__slide-description {
    min-height: 138px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .info-slider__slide-description {
    font-size: 10px;
  }
}
.info-slider__slide-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.best-beer__wrapper {
  display: flex;
  gap: 10px;
  min-height: 800px;
  box-sizing: border-box;
  border-radius: 20px;
  background: url(../assets/best-beer-bg.webp) center no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .best-beer__wrapper {
    min-height: 600px;
  }
}
@media (max-width: 768px) {
  .best-beer__wrapper {
    min-height: 400px;
  }
}
@media (max-width: 576px) {
  .best-beer__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    min-height: 300px;
    padding: 32px 10px;
  }
}
.best-beer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 660px;
  padding: 10px;
}
@media (max-width: 1280px) {
  .best-beer__info {
    flex: 0 1 400px;
  }
}
@media (max-width: 992px) {
  .best-beer__info {
    flex: 0 1 164px;
  }
}
@media (max-width: 576px) {
  .best-beer__info {
    flex: 0 1 auto;
    max-width: 50%;
  }
}
.best-beer__title {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 36px;
  color: #f59c12;
  text-align: center;
  text-shadow: 1px 1px #0d4a89, -1px -1px #0d4a89, -1px 1px #0d4a89, 1px -1px #0d4a89;
}
@media (max-width: 992px) {
  .best-beer__title {
    margin-bottom: 40px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .best-beer__title {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .best-beer__title {
    margin-bottom: 12px;
    font-size: 16px;
  }
}
.best-beer__description {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  color: #f59c12;
  text-align: center;
  text-shadow: 1px 1px #0d4a89, -1px -1px #0d4a89, -1px 1px #0d4a89, 1px -1px #0d4a89;
}
@media (max-width: 992px) {
  .best-beer__description {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .best-beer__description {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .best-beer__description {
    margin-bottom: 12px;
    font-size: 10px;
  }
}
.best-beer__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-beer__map {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .best-beer__map {
    max-width: 60%;
  }
}
.best-beer__map-image {
  width: 100%;
  transform: scaleY(1.2);
}

.brands {
  display: flex;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .brands {
    display: none;
  }
}
.brands__figure-image {
  display: block;
  max-width: 100%;
}

.contacts {
  color: #f59c12;
}
.contacts__wrapper {
  padding: 20px;
  border-radius: 20px;
  background: url(../assets/contacts-bg.webp) center no-repeat;
  background-size: cover;
}
.contacts__title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
@media (max-width: 992px) {
  .contacts__title {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .contacts__title {
    margin: 0 0 10px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .contacts__title {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.contacts__locations {
  display: flex;
  gap: 10px 20px;
  max-width: 1200px;
  margin: 0 auto 10px;
}
@media (max-width: 1280px) {
  .contacts__locations {
    max-width: 1012px;
  }
}
@media (max-width: 992px) {
  .contacts__locations {
    max-width: 844px;
  }
}
@media (max-width: 768px) {
  .contacts__locations {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 540px;
  }
}
@media (max-width: 768px) {
  .contacts__location {
    flex: 1 1 auto;
  }
}
.contacts__location-map {
  margin: 0 0 5px;
}
.contacts__location-map iframe {
  max-width: 100%;
  height: 394px;
  width: 100%;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .contacts__location-map iframe {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .contacts__location-map iframe {
    height: 280px;
  }
}
@media (max-width: 576px) {
  .contacts__location-map iframe {
    height: 200px;
  }
}
.contacts__location-worktime {
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 992px) {
  .contacts__location-worktime {
    font-size: 14px;
  }
}
.contacts__location-address {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 992px) {
  .contacts__location-address {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .contacts__location-address {
    font-size: 16px;
  }
}
.contacts__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
@media (max-width: 576px) {
  .contacts__info {
    gap: 10px;
  }
}
.contacts__info-title {
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 992px) {
  .contacts__info-title {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .contacts__info-title {
    font-size: 14px;
  }
}
.contacts__info-link {
  font-weight: 700;
  font-size: 36px;
  color: #f59c12;
}
@media (max-width: 992px) {
  .contacts__info-link {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .contacts__info-link {
    font-size: 18px;
  }
}

.vacancy {
  color: #f59c12;
}
.vacancy__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 80px 45px 45px 80px;
  border-radius: 20px;
  background: url(../assets/vacancy-bg.webp) center no-repeat;
  background-size: cover;
}
@media (max-width: 1280px) {
  .vacancy__wrapper {
    padding: 74px 36px 36px 74px;
  }
}
@media (max-width: 992px) {
  .vacancy__wrapper {
    padding: 60px calc((100% - 678px) / 2);
  }
}
@media (max-width: 768px) {
  .vacancy__wrapper {
    flex-direction: column;
    max-width: 520px;
    padding: 13px calc((100% - 520px) / 2);
  }
}
@media (max-width: 576px) {
  .vacancy__wrapper {
    gap: 10px;
    padding: 74px 10px;
  }
}
.vacancy__wrapper > * {
  flex: 0 0 calc(50% - 10px);
}
@media (max-width: 768px) {
  .vacancy__wrapper > * {
    flex: 0 1 auto;
  }
}
.vacancy__info {
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 992px) {
  .vacancy__info {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .vacancy__info {
    margin-bottom: 24px;
  }
}
.vacancy__info > * {
  margin: 0 0 19px;
}
@media (max-width: 992px) {
  .vacancy__info > * {
    margin-bottom: 14px;
  }
}
@media (max-width: 768px) {
  .vacancy__info > * {
    margin-bottom: 13px;
  }
}
.vacancy__info-title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 992px) {
  .vacancy__info-title {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .vacancy__info-title {
    font-size: 16px;
  }
}
.vacancy__info-text {
  text-align: center;
}
.vacancy__info-address {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 35px;
}
@media (max-width: 1280px) {
  .vacancy__info-address {
    margin-top: 25px;
  }
}
@media (max-width: 992px) {
  .vacancy__info-address {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .vacancy__info-address {
    gap: 5px;
    margin-top: 12px;
  }
}
.vacancy__info-requirement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 70px;
  padding: 0;
}
@media (max-width: 1280px) {
  .vacancy__info-requirement {
    margin-top: 50px;
  }
}
@media (max-width: 992px) {
  .vacancy__info-requirement {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .vacancy__info-requirement {
    gap: 5px;
    margin-top: 20px;
  }
}
.vacancy__info-advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.vacancy__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
@media (max-width: 576px) {
  .vacancy__contacts {
    gap: 10px;
  }
}
.vacancy__contacts-title {
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 992px) {
  .vacancy__contacts-title {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .vacancy__contacts-title {
    font-size: 16px;
  }
}
.vacancy__contacts-link {
  font-weight: 700;
  font-size: 36px;
  color: #f59c12;
}
@media (max-width: 992px) {
  .vacancy__contacts-link {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .vacancy__contacts-link {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .vacancy__contacts-link {
    font-size: 16px;
  }
}

.cooperation {
  text-align: center;
  color: orange;
}
.cooperation__wrapper {
  padding: 150px 40px 50px;
  border-radius: 20px;
  background: url(../assets/cooperation-bg.webp) center no-repeat;
  background-size: cover;
  background-color: #222;
}
@media (max-width: 992px) {
  .cooperation__wrapper {
    padding: 150px 34px 85px;
  }
}
@media (max-width: 768px) {
  .cooperation__wrapper {
    padding: 90px 26px 25px;
  }
}
@media (max-width: 576px) {
  .cooperation__wrapper {
    padding: 82px 12px 48px;
  }
}
.cooperation__wrapper > * {
  max-width: 1200px;
  margin: 0 auto 20px;
}
.cooperation__title {
  font-size: 34px;
  line-height: 124%;
}
@media (max-width: 992px) {
  .cooperation__title {
    font-size: 24px;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .cooperation__title {
    font-size: 18px;
  }
}
.cooperation__text {
  font-size: 24px;
  line-height: 175%;
}
@media (max-width: 992px) {
  .cooperation__text {
    font-size: 18px;
    line-height: 150%;
  }
}
@media (max-width: 768px) {
  .cooperation__text {
    font-size: 14px;
  }
}
.cooperation__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .cooperation__contacts {
    gap: 10px;
  }
}
.cooperation__contacts-title {
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 992px) {
  .cooperation__contacts-title {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .cooperation__contacts-title {
    font-size: 12px;
  }
}
.cooperation__contacts-link {
  font-weight: 700;
  font-size: 36px;
  color: #f59c12;
}
@media (max-width: 992px) {
  .cooperation__contacts-link {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .cooperation__contacts-link {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .cooperation__contacts-link {
    font-size: 14px;
  }
}

.about {
  color: #f59c12;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: 50px 70px 40px;
  border-radius: 20px;
  background: url(../assets/about-bg.webp) center no-repeat;
  background-size: cover;
}
@media (max-width: 1280px) {
  .about__wrapper {
    padding: 50px 60px 20px;
  }
}
@media (max-width: 992px) {
  .about__wrapper {
    padding: 40px 50px 50px;
  }
}
@media (max-width: 768px) {
  .about__wrapper {
    display: block;
    padding: 0;
    border-radius: 0px;
    background: none;
  }
}
.about__info {
  flex: 0 1 743px;
}
@media (max-width: 768px) {
  .about__info {
    max-width: 576px;
    margin: 0 auto 16px;
    padding: 62px 20px;
    border-radius: 20px;
    background: url(../assets/about-bg.webp) center no-repeat;
    background-size: cover;
  }
}
.about__title {
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
}
@media (max-width: 576px) {
  .about__title {
    font-size: 16px;
  }
}
.about__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
}
@media (max-width: 992px) {
  .about__text {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .about__text {
    font-size: 13px;
    line-height: 150%;
  }
}
.about__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 992px) {
  .about__details {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about__details {
    max-width: 576px;
    margin: 0 auto 16px;
    padding: 30px 20px 40px;
    font-size: 14px;
    border-radius: 20px;
    background: url(../assets/about-bg-2.webp) center no-repeat;
    background-size: cover;
  }
}
.about__map {
  display: flex;
  justify-content: center;
  max-width: 420px;
  width: 100%;
}
.about__map iframe {
  border-radius: 20px;
  width: 300px;
  height: 346px;
}
@media (max-width: 1280px) {
  .about__map iframe {
    width: 250px;
  }
}
@media (max-width: 992px) {
  .about__map iframe {
    height: 262px;
  }
}
@media (max-width: 768px) {
  .about__map iframe {
    width: 100%;
    height: 240px;
  }
}
.about__time {
  max-width: 420px;
  text-align: center;
}
.about__address {
  text-align: center;
}
.about__props {
  display: flex;
  flex-direction: column;
  max-width: 268px;
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 992px) {
  .about__props {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .about__props {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}