.actual {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 46px;
  box-sizing: border-box;
  background: url(../assets/actual-bg.webp) center no-repeat;
  background-size: cover;

  @include desktop {
    padding: 53px 46px 46px;
  }

  @include laptop {
    padding: 48px 46px;
  }
}
