.header {
  display: flex;
  align-items: center;
  gap: 51px;
  max-width: 1920px;
  min-height: 100px;
  padding: 10px 28px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 20px 0 $orange;
  background: linear-gradient(180deg, $blue 0%, rgba($color: $gray, $alpha: 0.4) 100%);

  @include desktop {
    gap: 42px;
  }

  @include laptop {
    justify-content: space-between;
  }

  @include tablet {
    gap: 25px;
  }

  @include mobile {
    min-height: 60px;
    padding: 10px;
  }

  &.active::before {
    @include laptop {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 400;
      background-color: rgba($color: $black, $alpha: 0.5);
      backdrop-filter: blur(10px);
    }
  }

  &__logo {
    flex: 0 0 auto;

    @include tablet {
      flex: 0 1 auto;
    }

    @include mobile {
      order: 1;
    }

    &-link {
      display: inline-block;
    }

    &-image {
      display: block;
      max-width: 100%;

      @include mobile {
        width: 180px;
      }
    }
  }

  &__nav {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    @media screen and (max-width: 1320px) {
      justify-content: center;
      flex-wrap: wrap;
    }

    @media screen and (max-width: 1200px) {
      gap: 10px;
    }

    @include laptop {
      position: fixed;
      top: 130px;
      left: 50%;
      z-index: 500;
      display: flex;
      flex-direction: column;
      gap: 20px;
      min-width: 369px;
      padding: 170px 60px 60px;
      box-sizing: border-box;
      box-shadow: 0 -4px 20px 0 #f59c12;
      border-radius: 20px;
      background: linear-gradient(180deg, #90afb2 0%, #0d4a89 44.54%, #0d4a89 98.4%);
      transform: translateX(-50%) translateY(-120vh);
      transition: transform ease-in-out 0.2s;
      will-change: transform;
    }

    @include mobile {
      top: 90px;
      max-width: 360px;
      min-width: 290px;
      width: calc(100% - 40px);
      padding: 130px 20px 30px;
    }

    &:before {
      @include laptop {
        content: '';
        position: absolute;
        top: 30px;
        left: 60px;
        display: block;
        width: 117px;
        height: 100px;
        background: url(../assets/logo-footer.webp) center no-repeat;
        background-size: contain;
      }

      @include mobile {
        top: 20px;
        left: 20px;
      }
    }

    &.active {
      @include laptop {
        transform: translateX(-50%) translateY(0);
      }
    }

    &-link {
      flex: 0 0 auto;
      color: $orange;
      font-weight: 600;
      font-size: 18px;
      text-shadow: $textShadow;

      @media screen and (max-width: 1200px) {
        font-size: 14px;
      }

      @include laptop {
        font-size: 16px;
        text-shadow: none;
      }
    }

    &-close {
      display: none;
    }
  }

  &__lang {
    flex: 0 0 auto;

    @include mobile {
      order: 0;
    }
  }

  &__burger {
    display: none;
    height: 34px;
    width: 60px;
    background: url(../assets/icons/burger.svg) center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;

    @include laptop {
      display: inline-block;
    }

    @include mobile {
      flex: 0 0 auto;
      order: 2;
      width: 40px;
      height: 26px;
    }
  }
}
