.button {
  position: relative;
  display: inline-block;
  min-width: 170px;
  padding: 11px 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: $orange;
  text-decoration: none;
  border: none;
  border-radius: 48px;
  background-color: $blue;
  box-shadow: 0 0px 16px 0 rgba($color: $orange, $alpha: 0.5);
  cursor: pointer;

  @include tablet {
    min-width: 145px;
    padding: 9px 12px;
    font-size: 14px;
  }

  @include mobile {
    padding: 7px 8px;
    font-size: 12px;
  }

  &:hover {
    box-shadow: 0 0px 24px 0 rgba($color: $orange, $alpha: 1);
  }

  &:active {
    box-shadow: 0 0px 24px 0 rgba($color: $orange, $alpha: 0.8);
  }
}
